/*
Latoya Clarke
Personal Resume and Portfolio
Contact: https://www.linkedin.com/in/latoya-clarke/
*/

@import url("https://www.latoyaclarke.com/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900');

/* Global */
:root {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.14rem;
    line-height: 100%;
    font-weight: 400;
    hyphens: auto;
    color: #000000;
    text-size-adjust: 100%;
    font-variant-ligatures: contextual common-ligatures;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    background: #ffffff;
    text-rendering: optimizeLegibility;
    hyphens: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

strong {
    font-weight: 600;
}

em {
    font-style: italic;
    font-weight: inherit;
}

a,
a:active,
a:visited {
    color: #0a66c2;
    font-weight: inherit;
    text-decoration: none;
    background: transparent;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0a66c2;
}

article,
aside,
details,
figcaption,
figure,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
    font: inherit;
}

hgroup,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: 600;
    margin: 0 0 1.25rem 0;
}

p {
    line-height: 1.4rem;
    margin: 0 0 1rem 0;
    text-align: left;
}


/*Main Layout*/

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.full-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header,
.footer,
.nav,
.main {
    position: relative;
    padding: 2.5rem 0;
}

.header {
    padding: 0;
    text-align: center;
}

.footer {
    background: #f3f3f4;
    color: #4e4e4e;
    
    padding: 2.5rem 4.5rem 1.5rem;
    text-align: center;
}

.border-line-footer {
    position: relative;
    width: 100%;
    border-bottom: 1.5px solid #cdcdcd;
    margin: 2rem 0;
}

/* .border-line-footer::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
    border: 1px solid #eeeeee;
} */

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer li {
    margin-right: 10px;
    position: relative;
}

.footer li:not(:last-child)::after {
    content: "|";
    margin-left: 10px;
}

.footer li a,
.footer li a:active,
.footer li a:visited {
    color: #4e4e4e;
    text-decoration: none;
    font-weight: 400;
}

.footer li a:hover {
    color: #4e4e4e;
    text-decoration: underline;
    font-weight: 400;
}

.main {
    /*background: #eff5f6;*/
    padding: 4.5rem 0;
}

h1 {
    font-size: 4.5rem;
    line-height: 4rem;
    font-weight: 200;
    display: inline-block;
    color: inherit;
    /*font-style: italic;*/
    margin: 0;
    font-style: normal;
    text-transform: uppercase;
}

.main h2.section-header {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    padding: 1.75rem 0 .5rem 0;
    margin: 1.75rem 0;
    line-height: 100%;
    font-weight: 300;
    color: #4e4e4e;
    background-color: #e7e7e7;
    padding: .5rem;
  border-radius: 0.25rem;
}


#bio.bio h2.name {
    font-family: "Merriweather", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: inherit;
    font-size: 2.75rem;
    line-height: 100%;
    padding: 0;
    margin: 0 0 .5rem 0;
    background: transparent;
    border: 0;
    font-weight: 300;
}

p.job-title {
    font-weight: 300;
    font-size: 110%;
}

h4 {
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

h5,
h6 {
    text-transform: uppercase;
    font-weight: 900;
}

.nav {
    /*border-bottom: .5px solid #6f6c67;*/
   /* padding: 2rem 0 1.5rem 0; */
    /*font-family: "Merriweather", Cambria, Cochin, Georgia, Times, Times New Roman, serif;*/
}

.nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.nav li {
    list-style: none;
    font-size: 1.25rem;
    padding: 0 1.75rem 0 0;
    line-height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .5s;
    display: flex;
    font-weight: 300;
}

.nav li:last-of-type {
    padding-right: 0;
}

.nav a {
    color: #000000;
    background-color: transparent;
    text-decoration: none;
    transition: color 0.3s ease;
    text-decoration: none;
    padding: .5rem;
    border-radius: 0.25rem;
}

.nav a:hover {
    color: #0069c2;
    background-color: #cfe8fd;
    text-decoration: none;
}

.border-line-0 {
    position: relative;
    width: 100%;
    border-bottom: 1.5px solid #cdcdcd;
    margin: 3rem 0;
}

.border-line {
    position: relative;
    width: 100%;
    border-bottom: 0;
    margin-top: 1rem;
}


.two-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.two-columns>.headshot {
    flex: 0 0 25%;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
    text-align: center;
}

.headshot img {
    width: 100%;
    object-fit: contain;
    border-radius: 175px;
    filter: grayscale(0%);
    transition: filter 0.3s ease;
}

.headshot img:hover {
    filter: grayscale(0%);
}

.two-columns>.bio {
    flex: 1;
    padding: 0 2rem;
    font-weight: 400;
}

.bio ul {
    list-style-type: disc;
    padding: 0 2rem;
}

.bio ul li {
    line-height: 1.4rem;
    padding: 0 0 .75rem 0;
}

.bio .linkedin-profile {
    background: #eaf4fe;
    font-size: .8rem;

    font-weight: 400;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    /* border: .5px solid #6f6c67; */
    overflow: hidden;
    margin: 1rem auto 2.75rem;
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 80%;
    transition: transform 0.85s ease;
}

.bio .linkedin-profile:hover {
    transform: scale(1.07);
}

.bio .linkedin-profile svg {
    fill: #0a66c2;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.bio .linkedin-profile:hover svg:hover {
    fill: #004182;
}

.bio .linkedin-profile p {
    margin-bottom: 0;
}

#projects .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0;
    width: 100%;
    margin: 0 auto;
}

.tile {
    background-color: transparent;
    padding: 0 2rem 2rem;
    border: 0;
    transition: background-color 0.85s ease;
}

.tile:hover {
    background-color: #f4f4f4;
}

.tile:nth-child(1) {
    border-right: 1px solid #eff5f6;
    border-bottom: 1px solid #eff5f6;
}

/* Top-right tile: add only left and bottom borders */
.tile:nth-child(2) {
    border-left: 1px solid #eff5f6;
    border-bottom: 1px solid #eff5f6;
}

/* Bottom-left tile: add only right and top borders */
.tile:nth-child(3) {
    border-right: 1px solid #eff5f6;
    border-top: 1px solid #eff5f6;
    padding-top: 2rem;
}

/* Bottom-right tile: add only left and top borders */
.tile:nth-child(4) {
    border-left: 1px solid #eff5f6;
    border-top: 1px solid #eff5f6;
    padding-top: 2rem;
}

.tile h3 {
    font-family: "Merriweather", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: 600;
    margin-bottom: .35rem;
}

.tile p {
    font-size: .9rem;
}

.tile img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 0 1.25rem 0;
    padding: 0;
}

p a.download {
    text-align: center;
    background-color: #d4d3d1;
    border-radius: 10px;
    padding: 1rem 2.5rem;
    font-size: .75rem;
    line-height: 1rem;
    transition: background-color .5s;
    display: inline-block;
}

p a.download,
p a:active.download,
p a:visited.download p a:hover.download {
    color: #302f2d;
    text-decoration: none;
}

.one-column h3 {
    margin-top: 2.25rem;
    display: block;
}

.one-column h3:nth-child(1) {
    margin-top: 0;
}

.note {
    color: #4e4e4e;
    font-size: 90%;
}

.two-columns-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.two-columns-contact .left {
    padding-right: 2rem;
}

.two-columns-contact .right .iframe {
    width: 100%;
    display: block;
    background: #f4f4f4;
}

/* RESPONSIVE */

@media (max-width: 1080px) {
    .container {
        max-width: 740px;
    }

    .full-height {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1 {
        font-size: 2.75rem;
        line-height: 3rem;
    }

    .nav ul {
        display: flex;
        justify-content: flex-start;
        list-style-type: none;
        flex-direction: column;
    }

    .nav li {
        list-style: none;
        font-size: 1.2rem;
        padding: 0 1.75rem 1rem 0;
        justify-content: flex-start;
    }

    .border-line {
        position: relative;
        width: 100%;
        border-bottom: .5px solid #6f6c67;
        margin-top: .25rem;
    }

    .two-columns {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .two-columns>.headshot {
        flex: 1;
        background-color: transparent;
        display: block;
        border-radius: 10px;
        text-align: center;
        max-width: 200px;
    }

    .two-columns>.bio {
        flex: 1;
        padding: 2rem 0;
        font-weight: 400;
    }

    #projects .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .tile {
        padding: 0 0rem 2rem;
    }

    .tile:hover {
        background-color: transparent;
    }

    .tile:nth-child(1),
    .tile:nth-child(2),
    .tile:nth-child(3),
    .tile:nth-child(4) {
        border: 0;
    }

    .two-columns-contact {
        display: grid;
        grid-template-columns: 1fr;
    }

    .footer ul {
        flex-direction: column;
        gap: .25rem;
    }

    .footer li:not(:last-child)::after {
        content: "";
        margin-left: 0px;
    }
}

/* For tablets and medium screens */
@media (max-width: 768px) {

    .container {
        flex-direction: column;
        padding: 1.25rem;
    }

    .two-columns,
    .two-columns-contact {
        flex-direction: column;
        padding: 0;
    }

    .two-columns .headshot {
        text-align: center;
    }

    #projects .grid-container {
        grid-template-columns: 1fr;
    }

    .footer ul {
        flex-direction: column;
        gap: .25rem;
    }

    .footer li:not(:last-child)::after {
        content: "";
        margin-left: 0px;
    }

    h1 {
        font-size: 2.25rem;
        line-height: 2.25rem;
    }

    .nav ul {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    .nav li {
        list-style: none;
        font-size: 1.2rem;
        padding: 0 1.75rem 0rem 0;
        justify-content: flex-start;
    }
}

/* For mobile screens */
@media (max-width: 480px) {
    .header h1 {
        font-size: 2.5rem;
    }

    .nav li {
        font-size: 1rem;
    }

    .main h2.section-header {
        font-size: 0.9rem;
    }

    .container,
    .main,
    .footer {
        padding: 1rem 0.5rem;
    }

    .bio .linkedin-profile {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .bio .linkedin-profile svg {
        fill: #0a66c2;
        width: 40px;
        height: 40px;
    }
}